doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='author', content='Matěj "Horm" Horák')
        meta(name='description', content='Website about Matěj Horák called Horm. Matěj is software developer, GDG organizer or just man who likes technologies, music and sport.')
        meta(name='keywords', content='Matěj, Horák, Horm, Software, Developer, Programming')
        title Matěj "Horm" Horák

        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
        link( rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')

        link( rel="shortcut icon" href="favicon.png")
        link(rel="image_src" href="./images/header-background.jpg")
    body
        .bg-header
            .navbar-fixed
                nav.grey.darken-3(role='navigation')
                    .nav-wrapper.container
                        a#logo-container.brand-logo(href='#') Horm
                        ul.right.hide-on-med-and-down
                            li
                                a(href='/resume.pdf') Resume
                            li
                                a(href='https://medium.com/@horm') Blog
                        ul#nav-mobile.sidenav
                            li
                                a(href='/resume.pdf') Resume
                            li
                                a(href='https://medium.com/@horm') Blog
                        a.sidenav-trigger(href='#', data-target='nav-mobile')
                            i.material-icons menu
            .vert-align
                .container
                    .container.white-text.center
                        h1.header.center.text-lighten-2.hide-on-med-and-down Matěj "Horm" Horák
                        h2.header.center.text-lighten-2.hide-on-med-and-up Matěj Horák
                        .row.center
                            p.flow-text
                                | I&apos;m software developer, GDG organizer or just a man who likes technologies. You may know my nickname
                                | Horm but I&apos;m not sure if you know something about me. So let&apos;s start scrolling or click on some links
                                | below to see some new about me!
                        .row.center
                            .divider
                        .row.center
                            .col.s2
                                a(href='https://twitter.com/horakmat', target='_blank').white-text
                                    i.fab.fa-twitter.fa-3x
                            |
                            .col.s2
                                a(href='https://stackoverflow.com/users/5650456/horm?tab=profile', target='_blank').white-text
                                    i.fab.fa-stack-overflow.fa-3x
                            |
                            .col.s2
                                a(href='https://linkedin.com/in/horakmat', target='_blank').white-text
                                    i.fab.fa-linkedin.fa-3x
                            |
                            .col.s2
                                a(href='https://github.com/Horm', target='_blank').white-text
                                    i.fab.fa-github.fa-3x
                            |
                            .col.s2
                                a(href='https://medium.com/@horm', target='_blank').white-text
                                    i.fab.fa-medium.fa-3x
                            |
                            .col.s2
                                a(href='https://instagram.com/horakmat', target='_blank').white-text
                                    i.fab.fa-instagram.fa-3x

                        br

        .container
            .section
                // Icon Section
                h2 Who am I?
                p.lead
                    | When you say name Matěj Horák, you can expect person, who has many activities and
                    | interests.
                    | Hard to say what is my aim in life but I just want to help somehow and be happy.
                    | How? Apart from writing the code, organizing events with GDG and
                    | playing the guitar, I try to live every day as good as possible.

                .row
                    .col.s12.m2
                        br
                        br
                        img.circle.responsive-img(src='images/profilepic.jpg', alt='')
                    .col.s12.m1
                    .col.s12.m9

                        h3 Developer
                        p
                        | Since my childhood I've found computers very interesting and thanks to programming I can create many new
                        | things as websites, mobile applications or smart hidden tools.
                        p
                        | When I learned some new programming technologies I've found communities very helpful. I feel the duty to
                        | reciprocate it so I'm organizer in Google Developer Group in Czech Republic.
                        |
                        h3 Musician
                        p
                        | I play the electric guitar. It&apos;s my favourite hobby because during the playing I can clear my head. I&apos;m
                        | playing in the small band. I don&apos;t have favourites genres but my favourite bands are Simple Plan,
                        | Paramore and Coldplay.
                        h3 Sport Lover
                        p
                        | Not like a professional but sport is one important part of my free time. Minimally once a week I play floorbal and go jogging.
                        | For transport in a city usually I go by skateboard.

                br
                br
                br


        .bg-skills
            .section
                .container

                    h2.header.white-text Skills
                    p.light.white-text I have some experience with many technologies, frameworks, parts of development but these are my favourites. In any case, I prefer Test Driven Development and clean code practices like functional concepts.

                    .row
                        mixin skill(name, icon, text)
                            .col.s12.m4
                                .icon-block
                                    h2.center.white-text
                                        i(class=icon)
                                    h3.center.orange-text !{name}
                                    p.light.white-text.center !{text}
                        +skill("Kotlin", "fab fa-kickstarter-k", "I can develop in Java but I think there is no reason for that. Kotlin is good in using different paradigms such as functional or object oriented programming etc.")
                        +skill("JavaScript", "fab fa-js", "Freedom but responsibility, that's the rule. It's not about types. I like Javascript because it's not necessary to write so many keywords to simple object or function...")
                        +skill("Git", "fas fa-code-branch", "Is there someone who is using some other VCS tool? I'm big open source fan. You can check my GitHub to see some my open source contributions...")
                    .row
                        +skill("Frontend", "fas fa-desktop", "I have experience with developing native Android and iOS applications. What about web? For now, only AngularJS yet. However, my bachelor work will be in React.")
                        +skill("Backend", "fas fa-database", "ExpressJS, Spring or Firebase but I do not prefer Firebase as backend solution.")
                        +skill("TDD", "fas fa-check", "If I can, I'm writing tests. It's not possible to have 100% code coverage but tests help you with safe refactoring, adding new features and testing your implementations.")
                    br
        .container
            .section
                h2 Active in Community
                p Since I have started to study programming I wanted to visit some space where is possible share our knowledge and learn from each other. Luckily I have found GDG community in Czechia and after one month I joined this community, concretely I have created local chapter in Žďár nad Sázavou.
                p Now, I am active in GDG Brno. We organized many types of events like talks, workshops, coding dojos or conference DevFest. I was mentoring Angular Workshop and in 2017 I attended Google I/O in Mountain View.
                br
                .slider
                    ul.slides
                        li
                            img(src='images/community/org-dark.jpg')
                            // random image
                            .caption.left-align
                                h3 Organizer of GDG Brno
                                h5.light.grey-text.text-lighten-3 Talks, Workshops, Coding Dojos...
                        li
                            img(src='images/community/io-dark.jpg')
                            // random image
                            .caption.left-align
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h3 Google I/O
                                h5.light.grey-text.text-lighten-3 Me in Silicon Valley...
                        li
                            img(src='images/community/a2-mentor-dark.jpg')
                            // random image
                            .caption.right-align
                                br
                                br
                                br
                                br
                                br
                                br
                                h3 Angular Workshop Mentor
                                h5.light.grey-text.text-lighten-3 I helped with Angular workshop...

                        li
                            img(src='images/community/devfest-dark.jpg')
                            // random image
                            .caption.center-align
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h3 DevFest Conference
                                h5.light.grey-text.text-lighten-3 I helped with DevFest in Pilsen and twice in Prague...
                br

        .bg-projects
            .section.no-pad-bot
                .container
                    h2.white-text Portfolio highlights
                    .row
                        mixin project(html, cover, title, note)
                            .col.s12.m6
                                a(href=html)
                                    .card.hoverable
                                        .card-image
                                            img(src=cover)
                                        .card-content
                                            span.card-title.black-text=title
                                            p.black-text=note
                        +project("gugweb.html", "images/portfolio/modals/m-gug.jpg", "GUG.cz Web", "Web for publishing Google User Group events")
                        +project("raytools.html", "images/portfolio/modals/m-raytools.jpg", "RAy Tools", "Android and iOS native applications for easy microwave link setup")
                br

        .section
            .container
                div.center
                    h2 Contact Me
                    p If you want to ask me about my person, projects or some technology please use this email:
                    br
                    a.center(href="mailto:info@horm.cz")
                        i.fas.fa-5x.fa-envelope.orange-text
                        p.flow-text.lead.orange-text info@horm.cz
                    p In case of job offers...
                    br
                    a.btn-large.orange(href="mailto:info@horm.cz?subject=Job Offer: Company Name") Send Job Offer
                    br
                    br
                    br

        footer.page-footer.grey.darken-3
            .container
                .row
                    .col.l6.s12
                        h5.white-text Something secret...
                        p.grey-text.text-lighten-4
                            | Are you still here? You are hero! OK, time to tell you something secret. In summer 2018 I've finished Camino de Santiago which is the most popular pilgrimage in the world. It was hard to invest 35 days into walking but this experience was one of the best. I was offline and I had there time for myself and for meeting new people.
                    .col.l3.s12

                    .col.l3.s12
                        h5.white-text Socials
                        ul
                            li
                                a(href='https://twitter.com/horakmat', target='_blank').white-text Twitter
                            li
                                a(href='https://stackoverflow.com/users/5650456/horm?tab=profile', target="_blank").white-text stackoverflow
                            li
                                a(href='https://linkedin.com/in/horakmat', target = '_blank').white-text Linkedin
                            li
                                a(href='https://github.com/Horm', target='_blank').white-text GitHub
                            li
                                a(href='https://medium.com/@horm', target='_blank').white-text Medium
                            li
                                a(href='https://instagram.com/horakmat', target='_blank').white-text Instagram
            .footer-copyright
                .container
                    | Made by Horm

        // Scripts
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='js/materialize.js')
        script(src='js/init.js')
